<!DOCTYPE html>
<html>
  <head>
    <title>IdHikeThat20</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

  </head>
  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a class="home-link" href="/">I'dHikeThat</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
      <ul class="right">
      </ul>
    </section>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
